IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "led_heartbeat" L14;
IO_PORT "led_heartbeat" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led_cs" N14;
IO_PORT "led_cs" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "CS_N" T6;
IO_PORT "CS_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "SCK" T7;
IO_PORT "SCK" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "MOSI" T8;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "MISO" P9;
IO_PORT "MISO" IO_TYPE=LVCMOS33 DRIVE=8;
